{{< layout }}

    {{$ content }}
    
        <h2>Submit a new story</h2>
        <div id="submitform">
            <form name="f">
                <input value="-1" type="hidden" name="news_id">
                <input type="hidden" value="{{ params.apisecret }}" name="apisecret">
                <label for="title">title</label><br/>
                <input value="" type="text" size="80" name="title" id="title"><br/>
                
                <label for="url">url</label><br/>
                <input value="" type="text" size="60" name="url" id="url"><br/>
                
                or if you don't have an url type some text<br/>
                
                <label for="text">text</label><br/>
                <textarea cols="60" rows="10" name="text" id="text"></textarea><br/>

                <input value="Submit" type="submit" name="do_submit">
            </form>
            <script>
                $(function() {
                    $("form[name=f]").submit(submit);
                });
            </script>
        </div>

    {{/ content }}

{{/ layout }}