<head>
    <title>Pomo.News - Community driven news about Apple technologies</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/app.js"></script>
    <script src="js/zepto.min.js"></script>
</head>